# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
Debug/vtStor.exp
Notes.xlsx
vtStor.opensdf
vtStor.sdf
vtStor/Debug/vtStor.tlog/vtStor.lastbuildstate
*.tlog
*.idb
x64/
*.exp
*.sdf
*.ilk
*.pdb
*.log
*.suo
vtStorAta.UTest/x64Debug/
vtStor.Test/vtStor.Test.vcxproj.user
vtStorAta/Win32Debug/
