# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
Debug/vtStor.exp
Notes.xlsx
vtStor.opensdf
vtStor.sdf
vtStor/Common.props
vtStor/Debug/vc120.idb
vtStor/Debug/vtStor.tlog/CL.read.1.tlog
vtStor/Debug/vtStor.tlog/CL.write.1.tlog
vtStor/Debug/vtStor.tlog/cl.command.1.tlog
vtStor/Debug/vtStor.tlog/link.command.1.tlog
vtStor/Debug/vtStor.tlog/link.read.1.tlog
vtStor/Debug/vtStor.tlog/link.write.1.tlog
vtStor/Debug/vtStor.tlog/vtStor.lastbuildstate
vtStor/Debug/vtStor.tlog/vtStor.write.1u.tlog
DriveEnumeratorAta/Debug/DriveEnu.81528CDF.tlog/link.command.1.tlog
DriveEnumeratorAta/Debug/DriveEnu.81528CDF.tlog/link.read.1.tlog
DriveEnumeratorAta/Debug/DriveEnu.81528CDF.tlog/link.write.1.tlog
DriveEnumeratorAta/Debug/vc120.idb
DriveEnumeratorAta/Debug/DriveEnu.81528CDF.tlog/DriveEnumeratorAta.lastbuildstate
DriveEnumeratorAta/Debug/DriveEnu.81528CDF.tlog/cl.command.1.tlog
*.tlog
*.idb
x64/
