# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.opensdf
*.sdf
*.tlog
*.idb
*.exp
*.ilk
*.pdb
*.log
*.suo
*.user
*.7z
*.pyc

# Whole folders
bin/
obj/
Debug/
Release/
x64Debug/
Win32Debug/
x64Release/
Win32Release/

# Exact files
Notes.xlsx
Common/BusType.h
Common/DeviceDataType.h
Common/ErrorCodes.h
Common/ScanForHardwareChanges.h
vtStorManaged/BusTypeManaged.h
vtStorManaged/ErrorCodesManaged.h
vtStorManaged/ScanForHardwareChangesManaged.h
